.codeEditorContainer {
  height: 66%;
  overflow: auto;
  padding-left: 11px;
  padding-right: 24px;
  font-family: "Monaco" !important;
  font-size: 14px;
  border-bottom: 2px solid #54546A; /* #4E4881 */
}

.languageDropdown {
  padding-top: 20px;
  padding-left: 18px;
  font-weight: 500;
  font-family: "Helvetica Neue" !important;
  font-size: 16px;
}

.codeEditor {
  padding-top: 20px;
}

.CodeMirror {
  height: 100% !important;
}

.CodeMirror-lines {
  padding-left: 20px !important;
}

.CodeMirror-line {
  padding-left: 5px !important;
}

.CodeMirror-linenumber {
  margin-left: -20px;
}

.CodeMirror-code > div {
  padding-bottom: 2px; /* Line spacing */
}

.oldLine {
  background-color: rgba(39, 154, 241, 0.25);
}

.last {
  border-radius: 0px 0px 7px 7px;
}

.newLine {
  background-color: rgb(217, 60, 255, 0.25);
}

.first {
  border-radius: 7px 7px 0px 0px;
}

.mergeLine {
  background-color: rgba(255, 255, 255, 0.15);
}

.useMeHeader {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  height: 40px;
  padding: 0px 5px 0px 5px;
  align-items: center;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: 900;
  /* letter-spacing: 0.75px; */
}

.oldCodeHeader {
  background-color: rgba(39, 154, 241, 0.33) !important;
  border-radius: 7px 7px 0px 0px !important;
}

.newCodeHeader {
  background-color: rgb(217, 60, 255, 0.325);
  border-radius: 0px 0px 7px 7px;
  position: relative;
  top: 2px; /* Equal to line spacing */
}

.useMeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 65px;
  border-radius: 5px;
  cursor: pointer;
}

.newCodeButton {
  background-color: rgb(217, 60, 255, 1.0);
}

.oldCodeButton {
  background-color: #279AF1;
}

.useMeLabel {
  font-weight: 500 !important;
  padding-right: 5px;
  margin-left: auto;
}
