.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  border-bottom: 2px solid #54546A;  /* #4E4881 */
  background-color: #202030;
  border-top: 4px solid #D93CFF;
  padding-top: 2px;
}

.header .logo {

}

.header .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
