.terminalContainer {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.terminalContainer .header {
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #111317;
  color: white;
  align-items: center;
}

.terminalContainer .terminalLabel {
  margin-right: auto;
  padding-left: 25px;
  font-family: "Monaco";
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.terminalContainer .header .fixItButtonContainer {
  width: 80px;
  margin-left: auto;
  padding-right: 25px;
  font-family: Monaco;
  font-size: 1em;
  font-weight: 900;
}

.terminalContainer .body {
  background-color: #1A1C23;
  height: 100%;
  padding-top: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1em;
  font-family: monospace;
}

.terminalContainer .body .history {
  display: flex;
  flex-direction: column;
}

.terminalInputForm {
  display: flex;
}

.promptSymbol {
  color: white;
  font-size: 1em;
  font-family: monospace;
  font-weight: 900;
  padding-left: 25px;
}

.terminalContainer .body .terminalInputForm .terminalInput {
  flex: 1;
  border: 0;
  box-sizing: border-box;
  outline: none;
  color: white;
  background-color: #1A1C23;
  padding: 0;
  padding-left: 7px;
  font-size: 1em;
  font-family: monospace;
}

.historyItem {
  padding-left: 25px;
  padding-bottom: 10px;
}

.priorCommandContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.priorCommandContainer .command {
  padding-left: 7px;
}

.priorCommandContainer .promptSymbol {
  padding-left: 0px !important;
}

.outputContainer {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.outputContainer .stderr {
  color: #E84855;
}
