.terminalContainer {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.terminalContainer .header {
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #111317;
  color: white;
  align-items: center;
}

.terminalContainer .terminalLabel {
  margin-right: auto;
  padding-left: 25px;
}

.terminalContainer .header .fitItButtonContainer {
  width: 80px;
  margin-left: auto;
  padding-right: 25px;
}

.terminalContainer .body {
  background-color: #1A1C23;
  height: 100%;
  padding-top: 10px
}

.terminalInputForm {
  display: flex;
}

.promptSymbol {
  color: white;
  font-size: 1em;
  font-family: monospace;
  padding-left: 25px;
}

.terminalInput {
  flex: 1;
  border: 0;
  box-sizing: border-box;
  outline: none;
  color: white;
  background-color: #1A1C23;
  font-size: 1em;
  font-family: monospace;
  padding: 0;
  padding-left: 5px;
}
