.ext-chatbotContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
}

.ext-chatbot {
    display: flex;
    flex-direction: column;
    background-color: #14171F;
    border: 2px solid #262A39;
    border-radius: 7px;
    height: calc(100% - 4px);
}