.chatBotHeader {
    height: 60px;
    min-height: 60px;
    border-bottom: 2px solid #262a39;
    background-color: #14171f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px 5px 0px 0px;
}

.chatBotLabel {
    font-weight: 600;
}

.chatBotOptions {
    display: flex;
    align-items: center;
}

.chatBotOptions > svg {
    stroke-width: 1.25px;
    height: 15px;
    width: 15px;
    color: #DBE2F0;
    opacity: 0.75;
    transition: 0.15s;
}

.chatBotOptions > svg:hover {
    opacity: 1.0;
}