.ext-loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #14171F;
    height: 100%;
    width: 100%;
    position: absolute;
}

.ext-chatbotContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
}

.ext-chatbot {
    display: flex;
    flex-direction: column;
    background-color: #14171F;
    height: 100%;
    width: 100%;
}

.ext-messagesContainer {
    padding: 0px;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.ext-messagesContainer.notIndexed {
    opacity: 0.35;
    pointer-events: none;
}

.ext-messagesContainer.indexedButStale {
    opacity: 0.35;
    pointer-events: none;
}

.ext-messagesContainer.failedToIndex {
    opacity: 0.35;
    pointer-events: none;
}

.ext-messagesContainer.indexing {
    opacity: 0.35;
    pointer-events: none;
}