.notIndexedButton {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.15s;

    cursor: pointer;
    background-color: #8204B3;
}

.notIndexedButton > svg {
    height: 18px;
    width: 18px;
}

.notIndexedButton:hover {
    opacity: 0.75;
}

.failedIndexButton {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.15s;

    background-color: #8F2E2E;
}

.failedIndexButton > svg {
    height: 18px;
    width: 18px;
}

.isIndexedButton {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.15s;

    background-color: #3D7747;
}

.isIndexedButton > svg {
    height: 18px;
    width: 18px;
}

.staleIndexButton {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.15s;

    cursor: pointer;
    background-color: #313A5B;
}

.staleIndexButton:hover {
    opacity: 0.75;
}

.staleIndexButton > svg {
    height: 18px;
    width: 18px;
}

.indexingButton {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.15s;

    background-color: #8204B3;
}

.indexingButton > svg {
    stroke-width: 1.25px !important;
}

.indexingMessage > span{
    opacity: 0.75;
    font-weight: 400;
}

.MuiTooltip-tooltip {
    font-size: 14px !important;
    background-color: #313A5B !important;
    color: #DBE2F0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.MuiTooltip-arrow {
    color: #313A5B !important;
}