.ext-messages {
    height: calc(100% - 120px);
    background-color: #14171F;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 22px;
    overflow: auto;
}

.ext-topMessagesShadow {
    height: 15px;
    width: 100%;
    z-index: 1000;
    opacity: 0.5;
    position: fixed;
    top: 64px;
    background: linear-gradient( rgba(20, 23, 31, 0.6), rgba(20, 23, 31, 0));
}

/* .ext-bottomMessagesShadow {
    height: 15px;
    width: 100%;
    z-index: 1000;
    opacity: 0.5;
    position: fixed;
    top: 64px;
    background: linear-gradient(rgba(20, 23, 31, 0), rgba(20, 23, 31, 0.6));
} */