@font-face {
  font-family: "Gilroy";
  src: url("../styles/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

.landing {
  position: absolute;
  background-color: #373751;
  height: 100%;
  width: 100%;
}

.landingLHS {
  margin-top: -80px;
}

.landingBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-top: 125px;
}

.landingHeading {
  width: 650px;
}

.landingTitle {
  color: white;
  font-size: 52px;
  font-weight: 900;
  font-family: "Gilroy";
}

.landingSubtitle {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Helvetica Neue";
  font-size: 22px;
  font-weight: 400;
}

.ctaButtons {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-top: 15px;
  font-weight: 600;
}

.ctaButtons a {
  text-decoration: none;
}

.getStartedButton {
  color: white;
  height: 45px;
}

.githubButton {
  height: 45px !important;
  /* background-color: white; */
  margin-left: 15px;
}

.githubButton a {
  text-decoration: none;
  color: white;
}

.demoImage {
  width: 600px;
  padding-right: 13px;
}
