#alert {
    /* width: 100%; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D64045;
    color: white;

    border-radius: 7px;
    padding-left: 15px;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 500;
    padding-right: 15px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #10101891;
    z-index: 1;

    margin-left: 30px;
    margin-right: 30px;
}

#exitButton {
    height: 20px;
    opacity: 0.75;
    cursor: pointer;
}

#exitButton:hover {
    opacity: 1.0;
}