.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #14171F;  /* #140C58 */

  /* font-family: "Helvetica Neue"; */
  font-size: 16px;
  color: #FFFFFF;
}

.app .body {
  display: flex;
  flex-direction: row;
  height: calc(100% - 55px);
  overflow: auto;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

#modalBackground {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #14171FBF;
  z-index: 50;
  overflow: auto;
}

#subscriptionModal {
  background-color: #0F1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 2px 8px 2px #08090c73;
}

#modalTitle {
  color: white;
  font-weight: 900;
  font-size: 46px;
  margin-top: 56px;
}

#modalSubtitle {
  color: white;
  opacity: 0.75;
  font-size: 18px;
  text-align: center;
}

#paymentPlans {
  display: flex;
  padding-top: 37px;
  padding-bottom: 75px;
  padding-left: 60px;
  padding-right: 60px;
}

#spacer {
  width: 30px;
  height: 30px;
}

@media (max-width: 700px) {
  .app .body {
    flex-direction: column;
    width: none !important;
  }
}

@media (max-width: 880px) {
  #subscriptionModal {
    width: 80% !important;
    height: 90% !important;
    overflow: auto;
  }

  #paymentPlans {
    flex-direction: column;
  }
}

@media (max-width: 590px) {
  #subscriptionModal {
    width: 95% !important;
  }

  #modalTitle {
    font-size: 30px;
  }

  #modalSubtitle {
    font-size: 16px;
    width: 200px;
  }

  #paymentPlans {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#loadingBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}