.chatMessage {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    color: white;
    margin-top: 15px;
    background-color: #D93CFF;
    align-self: flex-end;
    max-width: 66%;
    width: fit-content;
    overflow-wrap: break-word;
}

.chatMessage > pre {
    background-color: #29293d !important;
    font-size: 14px !important;
    margin-top: 15px !important;
}

.aiResponse {
    background-color: #535379 !important;
    align-self: flex-start !important;
}

.aiSenderId {
    background-color: #FFFFFF !important;
    color: #101018 !important;
}

.messageContent {
    font-weight: 400;
    /* padding-left: 15px; */
}

.suggestChangesButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    justify-content: center;
    background-color: #d93cff;
    height: 35px;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
}

.suggestChangesButton:hover {
    opacity: 0.75;
}

.suggestChangesButton > img {
    height: 20px;
    padding-right: 10px;
}

.codeBlock {
    font-size: 14px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 7px !important;
}

#regenerateResponse {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#regenerateResponse:hover {
    opacity: 0.75;
}

#regenerateResponse > img {
    height: 15px;
}