@font-face {
  font-family: "Gilroy";
  src: url("../styles/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

#landing {
  position: absolute;
  /* background-color: #373751; */
  background-image: url("../../public/cyberpunk_background.png");
  background-position-y: center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#landingBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -100px;
}

#landingHeading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landingTitle {
  color: white;
  font-size: 58px;
  font-weight: 900;
  font-family: "Gilroy";
  width: 500px;
}

#landingTitle > span {
  color: #d93cff;
}

#landingSubtitle {
  color: rgba(255, 255, 255, 0.65);
  font-size: 20px;
  width: 490px;
  font-weight: 400;
}

#getStartedButton {
  text-decoration: none;
  color: white !important;
  margin-top: 10px;
  height: 55px !important;
  width: 150px !important;
  font-size: 20px;
  box-shadow: 0px 0px 25px #d93cff;
  opacity: 0.8;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  border-radius: 10px !important;
}

#getStartedButton:hover {
  opacity: 1.0;
  box-shadow: 0px 0px 45px #d93cff !important;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

@media (max-width: 700px) {
  #landingTitle {
    font-size: 50px;
  }

  #landingSubtitle {
    width: 400px;
  }
}