#modalBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(32, 32, 48, 0.8);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal {
    width: 40%;
    max-width: 500px;
    height: fit-content;
    background-color: #373751;
    box-shadow: 0px 2px 8px 2px rgba(32, 32, 48, 0.5);
    border-radius: 7px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 30px;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 1.25px;
}

#subHeader {
    opacity: 0.75;
    padding-bottom: 30px;
    text-align: center;
}