#referral {
    position: absolute;
    background-color: #020309;
    height: 100%;
    width: 100%;
}

#referralBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#referralHeading {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#referralParent {
    font-size: 16px;
    font-weight: 500;
    color: #D93CFF;
    letter-spacing: 2px;
}

#referralTitle {
    padding-top: 10px;
    font-size: 48px;
    font-weight: 700;
    width: 800px;
}
