@media (max-width: 1130px) {
    #registrationForm {
        width: 75% !important;
    }
}

#inputFields {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 72%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}

#emailField {
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-sizing: border-box;
    outline: none;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    resize: none;
    height: 45px;
    width: 100%;
    padding-top: 9px;
    font-size: 18px;
    /* font-family: "Helvetica Neue"; */
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 15px;
} 
  
.passwordField {
    display: flex;
    flex-direction: row;
    height: 45px;
    padding-top: 0px;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-sizing: border-box;
    outline: none;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    resize: none;
    height: 45px;
    width: 100%;
    font-size: 18px;
    /* font-family: "Helvetica Neue"; */
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 15px;
}

.passwordField:placeholder {
    color: rgba(255, 255, 255, 0.35);
}

.loginButton {
    height: 45px !important;
    /* margin-top: 15px; */
    color: white;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 600;
}

#registrationError {
    padding-top: 10px;
    color: #FB4D3D;
    font-size: 14px;
}