.primaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  background-color: #EF6BFF;
  border-radius: 5px;
  cursor: pointer;
}

.primaryButton:hover {
  opacity: 0.75;
}

.secondaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding-top: 15px;
}
