.dropdown {
  display: inline-block;
  border: none;
  padding: 0px;
  background: none;
  color: white;
  font-size: 16px !important;
  font-weight: 500;
  font-family: "Helvetica Neue";
  cursor: pointer;
}
