.dropdown {
  display: inline-block;
  border: none;
  padding: 0px;
  background: none;
  color: white;
  font-size: 16px !important;
  font-weight: 500;
  font-family: "Helvetica Neue";
  cursor: pointer;

  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}
