.fileTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  width: 150px;
  height: 85%;
  background-color: #1A1C23;
}


.fileDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.fileName {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue";
}

.fileIsActiveIndicator {
  height: 3px;
  width: 100%;
  background-color: #EF6BFF;
  margin-bottom: auto;
}
