.codeSnippetInput {
    margin-top: 15px;
    padding: 15px;
    width: calc(100% - 30px - 30px);
    height: 90%;
    margin-bottom: 15px;
    justify-content: space-between;
    overflow: auto;
}

#addCodeSnippetButton {
    margin-top: 15px;
}

#editorWrapper {
    overflow: auto;
    height: 100%;
}