.chatMessage {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    color: white;
    margin-bottom: 15px;
    background-color: #A305E1;
    align-self: flex-end;
    width: calc(100% - 15px - 15px);
    overflow-wrap: break-word;
}

.chatMessage > pre {
    background-color: #29293d !important;
    font-size: 14px !important;
    margin-top: 15px !important;
}

.aiResponse {
    /* background-color: #1E212E !important; */
    background-color: #2B3044 !important;
    align-self: flex-start !important;
}

.aiSenderId {
    background-color: #FFFFFF !important;
    color: #101018 !important;
}

.messageContent {
    font-weight: 400;
    /* padding-left: 15px; */
}

.codeBlock {
    font-size: 14px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 7px !important;
}

#regenerateResponse {
    margin-top: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    /* width: 100%; */
}

#regenerateResponse:hover {
    opacity: 0.75;
}

#regenerateResponse > img {
    height: 15px;
}

.chatMessageOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blockedMessage {
    background-color: #202030 !important;
}

.blocked {
    filter: blur(4px);
    opacity: 0.4;
}

.messageContainer .spinner {
    margin: 0 !important;
}