#inputField {
    border: 2px solid #262A39;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
}

#inputFieldArea {
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #181B26;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
}

#inputFieldValue {
    border: 0;
    box-sizing: border-box;
    outline: none;
    color: white;
    background: none;
    /* padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px; */
    width: 100%;
    resize: none;
    font-size: 16px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
}

#sendInputButton {
    color: #FFFFFF;
}

#suggestedHeader {
    padding-bottom: 15px;
}

.suggestedMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    color: white;
    /* margin-top: 15px; */
    background-color: #535379;
    /* align-self: flex-end; */
    /* max-width: 75%; */
    /* width: fit-content; */
    margin-bottom: 15px;
    box-shadow: 0px 1px 6px #101018b8;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* -webkit-animation: breathing 5s ease-out infinite normal; */
    /* animation: breathing 5s ease-out infinite normal; */
    /* -webkit-font-smoothing: antialiased; */
}

.suggestedMessage:hover {
    opacity: 0.75 !important;
}

.suggestedMessage > span {
    width: 95%;
}

.sendMessageIcon {
    height: 20px;
    fill: #FFFFFF;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}
  
@keyframes breathing {
    0% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
}