@media (max-width: 700px) {
    #chatBot {
        height: 50%;
        width: 100% !important;
        max-width: none !important;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

#chatBot {
    height: calc(100% - 30px + 2px + 2px);
    width: 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 30px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#messages::-webkit-scrollbar {
    display: none;
} 

#chatbotOptions {
    padding-top: 7px;
    display: flex;
    align-items: center;
    opacity: 0.75;
    cursor: pointer;
    justify-content: flex-end;
}

#chatbotOptions > span {
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;
}

#chatbotOptions:hover {
    opacity: 1.0;
}