.codeSnippetInput {
    margin-top: 15px;
    padding: 15px;
    width: calc(100% - 30px - 30px);
    height: 90%;
    margin-bottom: 15px;
    justify-content: space-between;
    overflow: auto;
}

#editorWrapper {
    overflow: auto;
    height: 100%;
}

#codeSnippetHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.languageDropdown__control {
    background-color: transparent !important;
    border-color: #9B9BA8 !important;
    border-radius: 5px !important;
    border-width: 2px !important;
    min-height: 35px !important;
    height: 35px !important;
}

.languageDropdown__single-value {
    color: white !important;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 500;
    margin-top: -5px !important;
}

.languageDropdown__indicators {
    margin-top: -2px !important;
}

.languageDropdown__indicator-separator {
    background-color: #9B9BA8 !important;
    width: 2px !important;
    margin-top: 11px !important;
    margin-bottom: 11px !important;
}

.languageDropdown__dropdown-indicator {
    color: #9B9BA8 !important;
}