.fileChip {
    background-color: #181b26;
    border: none;
    border-radius: 5px;
    color: #DBE2F0B0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
}

.fileChip:hover {
    opacity: 0.75;
}