@import "./AddCodeButton.css";
@import "./AuthenticatedRepositoryInput.css";
@import "./App.css";
@import "./Button.css";
@import "./ChatBot.css";
@import "./CodeExplorer.css";
@import "./CodeSnippetInput.css";
@import "./DocumentFeed.css";
@import "./FileStructure.css";
@import "./RepositoryInput.css";
@import "./Header.css";
@import "./Landing.css";
@import "./Message.css";
@import "./PaymentPlan.css";
@import "./PaywallMessage.css";
@import "./QueryInput.css";
@import "./Spinner.css";
@import "./ExampleRepository.css";
@import "./FileSummary.css";
@import "./ProgressBar.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}