.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    border-bottom: 2px solid #262A39;
    /* #4E4881 */
    background-color: #181b26;
    border-top: 4px solid #A305E1;
    padding-top: 2px;
    min-height: 55px;
    /* font-family: "Helvetica Neue"; */
    font-size: 16px;
    color: white;
}

.transparent {
    background-color: transparent !important;
    border-bottom: none;
    border-top: none;
}

#signUpButton {
    margin-right: 10px;
}

.linkButtons {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.discordIcon {
    margin-right: 20px;
}

.linkButtons>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.linkButtons>a>img {
    height: 25px;
}

.ctaButtons {
    display: flex;
    flex-direction: row;
}

.githubIcon {
    display: flex;
    align-items: center;
}

.star-count {
    display: flex;
    align-items: center;
    color: #d93cff;
}

.star-count>svg {
    padding-left: 5px;
    padding-top: 1px;
}

.discordIcon:hover,
.githubIcon:hover {
    opacity: 0.75;
}

.header .compactButtons {
    display: none;
    position: absolute;
}

@media (max-width: 700px) {
    .header .compactButtons {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .githubIcon img {
        height: 24px;
    }

    .githubIcon:hover {
        opacity: 0.75;
    }

    .keyIcon {
        margin-left: 15px;
        height: 16px;
        cursor: pointer;
    }

    .keyIcon:hover {
        opacity: 0.75;
    }

    .header .buttons {
        display: none !important;
        position: absolute !important;
    }
}

.header .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .buttons>a {
    text-decoration: none;
    color: white;
    /* font-family: "Helvetica Neue"; */
    font-size: 16px;
    font-weight: 400;
    padding-right: 25px;
    cursor: pointer;
}

.header .buttons .headerGithubButton a {
    padding-right: 0px !important;
    text-decoration: none;
    color: white;
    /* font-family: "Helvetica Neue"; */
    font-size: 16px;
    font-weight: 500;
}

.LogInButton {
    margin-right: 15px;
}

.header .buttons>a:hover {
    opacity: 0.75;
}

.logo img {
    padding-top: 2px;
    height: 25px;
}

.user-nav-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}

.dropdown-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #2B3044;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.8);
    animation: pop 0.3s forwards;
    padding: 8px 0;
    margin-top: 8px;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    color: white;
}

.dropdown-item a {
    text-decoration: none;
    color: white;
}

.dropdown-item:hover {
    background-color: #14171f;
}

.dropdown-item:last-child:hover {
    background-color: transparent;
}

.logout {
    border-top: 1px solid #ccc;
}

#subscriptionTier {
    font-weight: 600;
}