@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-ExtraBold.otf") format("opentype");
}

#landing {
  position: absolute;
  background-color: #06060a;
  background-image: url("../public/cyberpunk_background.png");
  background-position-y: center;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#overTheFold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 55px - 2px);
}

#landingHeading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -125px;
}

#landingTitle {
  color: white;
  font-size: 58px;
  font-weight: 900;
  font-family: "Gilroy";
  width: 500px;
}

#landingTitle>span {
  color: #d93cff;
}

#landingSubtitle {
  color: rgba(255, 255, 255, 0.65);
  font-size: 20px;
  width: 490px;
  font-weight: 400;
}

#getStartedButton {
  text-decoration: none;
  color: white !important;
  margin-top: 10px;
  height: 55px !important;
  width: 150px !important;
  font-size: 20px;
  box-shadow: 0px 0px 25px #d93cff;
  opacity: 0.8;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  border-radius: 10px !important;
}

#getStartedButton:hover {
  opacity: 1.0;
  box-shadow: 0px 0px 45px #d93cff !important;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

#underTheFold {
  padding-top: 100px;
  /* background-color: #020309; */
  background-color: #202030;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featuresSection {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
}

.featureOverview {
  width: 90%;
  max-width: 400px;
}

.featureOverview>span {
  font-family: "Gilroy";
  font-size: 40px;
}

.featureOverview>p {
  font-size: 20px;
  opacity: 0.75;
}

#debugFeature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

#debugFeature>.featureOverview {
  padding-left: 100px;
}

#debugFeature>img {
  max-width: 500px;
  min-width: 300px;
  width: 60%;
  border: 2px solid #54546A;
  border-radius: 10px;
  box-shadow: 2px 0px 26px #0203097a;
}

#chatbotFeature {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

#chatbotFeature>.featureOverview {
  padding-right: 100px;
}

#chatbotFeature>img {
  max-width: 500px;
  min-width: 300px;
  width: 60%;
  border-radius: 15px;
  border: 2px solid #54546A;
  border: 2px solid #54546A;
  border-radius: 10px;
  box-shadow: 2px 0px 26px #0203097a;
}

#pricingSection {
  background-color: #020309;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

#pricingOptions {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  padding-top: 60px;
}

@media (max-width: 700px) {
  #landingTitle {
    font-size: 50px;
  }

  #landingSubtitle {
    width: 400px;
  }
}

@media (max-width: 980px) {
  .featureOverview {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #debugFeature {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #debugFeature>.featureOverview {
    padding-top: 50px;
  }

  #chatbotFeature {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #chatbotFeature>.featureOverview {
    padding-bottom: 50px;
  }
}

@media (max-width: 450px) {
  #landingTitle {
    font-size: 42px !important;
    width: 400px !important;
  }

  #landingSubtitle {
    width: 350px !important;
  }
}

@media (max-width: 1250px) {
  #pricingOptions {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: fit-content;
  }

  #subscriptionTitle {
    font-size: 40px;
  }

  #subscriptionSubtitle {
    font-size: 16px;
    width: 300px;
  }

  .paymentPlan {
    margin-bottom: 30px;
  }
}