.paymentPlan {
    width: 300px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    color: white;
    border: 2px solid #262A39;
}

.paymentPlan.isSelected {
    background-color: #D93CFF;
    color: #020309;
    border: none;
}

.planLabel {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.75;
}

.planLabel.paymentPlan.isSelected {
    opacity: 1.0 !important;
}

.planPrice {
    font-size: 46px;
    font-weight: 900;
    padding-top: 20px;
}

.selectPlanPrimary {
    background-color: #020309;
    color: white;
    height: 45px;
    margin-top: 25px;
    opacity: 1.0;
}

.selectPlanPrimary:hover {
    opacity: 0.75;
}

.selectPlan {
    height: 45px;
    margin-top: 25px;
    /* border: 2px solid #d93cff; */
    /* color: #d93cff; */
}

.selectPlan:hover {
    opacity: 0.75;
    /* border: 2px solid #d93cff; */
}

.planFeatures {
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 500;
    opacity: 0.75;
}

.planFeatures.isSelected {
    opacity: 1.0;
}

.planFeature {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
}

.planFeature > img {
    width: 20px;
}

.planFeature > span {
    padding-left: 10px;
}