.progressTitle {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.progressBarOuter {
    width: 100%;
    padding-bottom: 15px;
}

.isolatedProgressBarOuter {
    width: 100%;
}

.progressStep {
    font-weight: 500;
    padding-right: 10px;
}

.progressMessage {
    opacity: 0.75;
}

.css-pazuet {
    min-width: 40px !important;
}

.progressStep > span {
    font-weight: 400 !important;
    opacity: 0.75;
}