.quotedCode {
    background-color: #181b26;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.filePathHeader {
    height: 45px;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.filePathHeader > svg {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    opacity: 0.75;
    cursor: pointer;
    fill: #DBE2F0;
    transition: 0.15s;
}

.filePath {
    padding-left: 7px;
    overflow: auto;
}

.filePathHeader > svg:hover {
    opacity: 1.0;
}

.quotedCode > .codeBlock {
    border-radius: 0px 0px 5px 5px !important;
    background-color: #101117 !important;
}

.filePathPart {
    color: #788AAD;
}

.filePathPartDivider {
    color: #788aad40;
    padding-left: 5px;
    padding-right: 5px;
}

.filePathPartFinal {
    color: #DBE2F0;
}