.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.titleBar {
  height: 50px;
  width: 100%;
  /* top: 0; */
  /* left: 0; */
}

.editorContainer {
  height: 380px;
}

.editor {
  height: 380px;
  overflow: auto;
}

.shellContainer {
  height: 200px;
  background-color: "black";
}
