.openFileScreen {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  /* background-color: #101d42; */
  background: rgb(40, 47, 68);
  background: linear-gradient(
    45deg,
    rgba(40, 47, 68, 1) 0%,
    rgba(81, 92, 121, 1) 100%
  );
}

.editFileScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
